.App {
  text-align: center;
}
.modal{
  border-style: solid;
  border-color: black;
  font-size: 50px;
  text-align: center;
}
button{
  background-color: #664eee; /* Green */
  border: solid;
  border-color: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15%;
}
